{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'projects:applications' %}">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:profile' %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <form id='form' action="" method="post">
    {% csrf_token %}
  <div id='body' class="bounds circle--page">
    <div id='top' class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <input type="submit" class="button button-primary icon-on-left" value="Save Changes">
      </div>
    </div>

    <div class="grid-70">
      <input id='name' name="name" type="text" value="{{ user.profile.name }}" placeholder="Full Name" class="circle--input--h1">
      <div class="circle--article--body">
        <textarea id='bio' name="bio" id="bio" placeholder="Tell us about yourself...">{{ user.profile.bio }}</textarea>
      </div>

      <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          {% for position in user.positions.all %}
          {% if position.status == 2 %}
          <tr class="clickable-row" data-href="{{ position.project.url }}" data-target="_blank">
            <td>
              <h3>{{ position.project.title }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ position.title }}</span>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <div id='avatar' class="circle--primary--avatar"
        {% if user.profile.avatar %}
        style="background-image: url('{{ user.profile.avatar.url }}')"
        {% endif %}
        >
          <a id='upload-image-button' class="button">
            Upload Photo
            <input id='upload-image' type="file" accept='image/*'>
          </a>
        </div>
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="circle--clone--list">
          {% if user.profile.skills.all %}
            {% for skill in user.profile.skills.all %}
            <li>
              <select class='skills' name="skills">
                <option value="">-------</option>
                {% for skill_instance in all_skills %}
                <option value="{{ skill_instance.name }}"
                        {% if skill.name == skill_instance.name %}
                        selected
                        {% endif %}
                >{{ skill_instance.name }}</option>
                {% endfor %}
              </select>
              <a class="circle--clone--add">Add Skill</a>
              <a class="circle--clone--remove">Remove</a>
            </li>
            {% endfor %}
          {% else %}
            <li>
              <select class='skills' name="skills">
                <option value="">-------</option>
                {% for skill_instance in all_skills %}
                <option value="{{ skill_instance.name }}">{{ skill_instance.name }}</option>
                {% endfor %}
              </select>
              <a class="circle--clone--add">Add Skill</a>
              <a class="circle--clone--remove">Remove</a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--clone--list">
          {% for project in user.site_projects.all %}
          <li>
            {{ project.title }}<br>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/js.cookie.js' %}" charset="utf-8"></script>
<script src="{% static 'js/utilities.js' %}" charset="utf-8"></script>
<script src="{% static 'js/profile_edit.js' %}" charset="utf-8"></script>
{% endblock %}
