{% extends 'layout.html' %}
{% load static %}

{% block content %}
  {% if form_errors %}
    <h2 class="center-text">Error:</h2>
    {% for field, error in form_errors.items %}
    <div class="grid-30 centered">
      {{ error }}
    </div>
    {% endfor %}
  {% endif %}
  <div class="bounds">
    <div class="grid-30 centered">
      <h2>Sign Up</h2>
      <form id='form' action='' method="post">
        {% csrf_token %}
        <input id='username' type="text" placeholder="Username" name="username" required>
        <input id='email' type="email" placeholder="Email Address" name="email" required>
        <input id='password' type="password" placeholder="Password" name="password" required>
        <input id='confirm_password' type="password" placeholder="Confirm Password" name="confirm_password" required>
        <input type="submit" class="button-primary" value="Sign Up">
        <a class="button" href="{% url 'accounts:signin' %}">Sign In</a>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/signup.js' %}" charset="utf-8"></script>
{% endblock %}
