a {
    cursor: pointer;
}

.errorlist {
    list-style: none;
    padding-left: 0;
}

.errorlist li {
    text-align: center;
}

.center-text {
    text-align: center;
}

.circle--primary--avatar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.avatar-collapse::before {
  padding-top: 0;
}

.profile-avatar {
  width: 100%;
}
